### FLASK APP ####
# Flask and haproxy Keycloak related configuration
KEYCLOAK_REALM=atexo
KEYCLOAK_CLIENT_ID=atexo-wrenai
KEYCLOAK_CLIENT_SECRET=J65Q14tyhuJ7GQEnBFKrAN5FdWtBwlM2
KEYCLOAK_SERVER_URL=http://atexo_keycloak:7080

### Mistral ###
MISTRAL_API_KEY=
MISTRAL_PREPROMPT=

### Database Config
DB_HOST=host.docker.internal
DB_PORT=3306
DB_USER=root
DB_PASSWORD=password
DB_NAME=atexo_int_remu_DB
DB_SSL=false
