### FLASK APP ####
# Flask and haproxy Keycloak related configuration
KEYCLOAK_REALM=atexo
KEYCLOAK_CLIENT_ID=atexo-wrenai
KEYCLOAK_CLIENT_SECRET=ZGcSlPPCPG4gyk6AUyxE8jFtqe8YlWbv
KEYCLOAK_SERVER_URL=http://atexo_keycloak:7080

### Mistral ###
MISTRAL_API_KEY=aHrndRUqqcrhN49ieEyvEurAO8qLCAPI