# WrenAI Configuration
WREN_BOOTSTRAP_VERSION=0.1.5
WREN_ENGINE_VERSION=0.17.1
WREN_AI_SERVICE_VERSION=0.24.3
WREN_UI_VERSION=0.30.0
IBIS_SERVER_VERSION=0.17.1
PLATFORM=linux/amd64
WREN_BOOTSTRAP_VERSION=0.1.5


# WrenAI Ports
WREN_ENGINE_PORT=8080
WREN_ENGINE_SQL_PORT=7432
WREN_AI_SERVICE_PORT=5555
IBIS_SERVER_PORT=8000
AI_SERVICE_FORWARD_PORT=8000
WREN_UI_PORT=3000

# WrenAI Environment
PROJECT_DIR=./wrenai
LOCAL_STORAGE=./wrenai
GENERATION_MODEL=gpt-4
USER_UUID=default
POSTHOG_API_KEY=
POSTHOG_HOST=
TELEMETRY_ENABLED=false
EXPERIMENTAL_ENGINE_RUST_VERSION=false
WREN_PRODUCT_VERSION=0.25.0

# Flask Configuration
FLASK_ENV=development
FLASK_DEBUG=true

# Keycloak Configuration
KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=admin

# Flask Authentication
AUTH_ENABLED=false 